<template>
    <div>
        <banner></banner>
        <car-finder></car-finder>
    </div>
</template>
<script>
import Banner from "@/components/layout/banner";
import CarFinder from "@/components/car-finder/index";

export default {
  components: {
    Banner,
    CarFinder
  }
};
</script>
