<template>
  <section class="hero is-info is-medium">
    <div class="hero-body">
      <div class="container">
        <h1 class="title is-1">GERMANY IS PROUD TO SHARE</h1>
        <h2 class="subtitle is-3">The world's first free-floating carsharing service.</h2>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "Banner"
};
</script>
<style lang="scss" scoped>
section {
  position: relative;
  background: url("../../assets/banner.jpg") center no-repeat;
  background-size: cover;

  .hero-body {
    z-index: 2;
  }

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #039ee3;
    opacity: 0.75;
  }
}
</style>
