<template>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Interested? Find more about me on the web</p>
      <ul>
        <li><a href="https://codepen.io/seifsayed/">Codepen</a></li>
        <li><a href="https://twitter.com/SeifSayed">Twitter</a></li>
        <li><a href="https://github.com/seifsay3d">Github</a></li>
      </ul>

    </div>
  </footer>
</template>
<script>
export default { name: "cfooter" };
</script>
<style lang="scss" scoped>
ul {
  margin: 0;
  list-style: none;

  li {
    display: inline;
  }
}
</style>
