<template>
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item"> <img src="@/assets/logo.png"></a>
      </div>
    </nav>
  </div>
</template>

<script>
export default { name: "cheader" };
</script>

<style lang="scss" scoped>
.navbar-item {
  img {
    max-height: 2.55rem;
  }
}
</style>
