<template>
  <div class="car-finder">
    <div class="container">
      <div class="columns selection-warpper">
        <div class="column">
          <div class="field is-horizontal">
            <label class="label is-size-4">Grab a ride now !</label>
            <div class="control">
              <dropdown :options="locationsList" @changed="onLocationChange"></dropdown>
            </div>
          </div>
          <p>Our fleet operates without fixed rental stations.
            All you need is the app.</p>
          <p>Grab a car2go anywhere in the Home Area of your city.
            When you're done, park it back on the streets for free1.</p>
          <p>For a low price per minute that includes everything from parking to charging,
            you now have a fleet of cars in the city.</p>
        </div>
        <div class="column">
          <c-map v-if="carList.length"
                :loading="carLoading"
                :markers="markers"
                :centerPosition="selectedLocation.mapSection.center"></c-map>
          <template v-else>
            <div class="map-placeholder">Choose a location to get started</div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState, mapActions } from "vuex";
import { Actions as CarActions } from "@/store/modules/cars";
import { Actions as LocationActions } from "@/store/modules/locations";
import Dropdown from "@/components/elements/dropdown";
import CMap from "@/components/elements/map";

const POLLING = 10000;

export default {
  name: "car-finder",
  components: {
    Dropdown,
    CMap
  },
  data() {
    return {
      interval: null
    };
  },
  computed: {
    ...mapState({
      locationsList: state => state.locations.list.map(e => e.name),
      carList: state => state.cars.list,
      carLoading: state => state.cars.isLoading,
      selectedLocation: state => state.locations.selected
    }),
    markers() {
      return this.carList.map(car => ({
        position: car.position,
        title: car.model,
        text: `Number Plate: ${car.numberPlate} <br/> Fuel: ${car.fuel}`
      }));
    }
  },
  methods: {
    ...mapActions("cars", [CarActions.FETCH_CARS_LIST]),
    ...mapActions("locations", [
      LocationActions.FETCH_LOCATIONS_LIST,
      LocationActions.SELECT_LOCATION
    ]),
    onLocationChange(value) {
      this[LocationActions.SELECT_LOCATION](value);
      this.fetchCars();
    },
    fetchCars() {
      if (!this.selectedLocation) {
        return;
      }

      this[CarActions.FETCH_CARS_LIST]({ name: this.selectedLocation.name });
    }
  },
  created() {
    this[LocationActions.FETCH_LOCATIONS_LIST]();
    this.interval = setInterval(() => {
      this.fetchCars();
    }, POLLING);
  },
  beforeDestory() {
    clearInterval(this.interval);
  }
};
</script>

<style lang="scss" scoped>
.selection-warpper {
  padding: 25px 0;

  label {
    margin: 0 15px 0 0;
    align-self: center;
    flex-grow: 2;
  }
}
.map-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

p {
  margin-bottom: 5px;
}
</style>
