<template>
  <div class="select is-info">
    <select v-model="selected">
      <option disabled value=''>{{placeholder}}</option>
      <option v-for="(option, index) in options" :key="index" :value="option">
        {{option}}
      </option>
    </select>
  </div>
</template>
<script>
export default {
  name: "dropdown",
  props: {
    options: {
      type: Array,
      default: () => []
    },
    placeholder: {
      type: String,
      default: "Your City"
    }
  },
  watch: {
    selected() {
      this.$emit("changed", this.selected);
    }
  },
  data() {
    return {
      selected: ""
    };
  }
};
</script>
