<template>
  <div class="map-wrapper">
    <l-map :zoom="zoom" :center="center" style="height: 100%">
      <l-tile-layer :url="url" :attribution="attribution" />
      <marker-popup v-for="(marker, index) in mapMarkers"
                    :key="index"
                    :position="marker.position"
                    :text="marker.text"
                    :title="marker.title" />
    </l-map>
    <div :class="[{'is-loading': loading}]"></div>
  </div>
</template>

<script>
import "leaflet/dist/leaflet.css";
import { L, LMap, LTileLayer } from "vue2-leaflet";
import MarkerPopup from "@/components/elements/marker";

export default {
  name: "Map",
  components: {
    LMap,
    LTileLayer,
    MarkerPopup
  },
  props: {
    centerPosition: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean,
      default: false
    },
    zoom: {
      type: Number,
      default: 13
    },
    markers: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      url: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution: "&copy; <a href='https://www.car2go.com/DE/en/'>car2go</a>"
    };
  },
  computed: {
    mapMarkers() {
      return this.markers.map((marker) => {
        const modifiedMarker = marker;
        modifiedMarker.position = L.latLng(
          marker.position.latitude,
          marker.position.longitude
        );
        return modifiedMarker;
      });
    },
    center() {
      return L.latLng(
        this.centerPosition.latitude,
        this.centerPosition.longitude
      );
    }
  }
};
</script>

<style scoped>
.map-wrapper {
  position: relative;
  height: 500px;
}

.is-loading {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
</style>
