<template>
  <div class="marker">
    <l-marker :lat-lng="position" :title="title" :draggable="false" :icon="icon">
      <l-popup :content="popupContent" />
    </l-marker>
  </div>
</template>

<script>
import { L, LMarker, LPopup } from "vue2-leaflet";
import markerIcon from "@/assets/marker.jpg";

const ICON = L.icon({ iconUrl: markerIcon });

export default {
  name: "MarkerPopup",
  components: {
    LMarker,
    LPopup
  },
  props: {
    text: {
      type: String,
      default: ""
    },
    position: {
      type: Object,
      default: () => {}
    },
    title: {
      type: String,
      default: ""
    }
  },
  computed: {
    popupContent() {
      return `<h1>${this.title}</h1><p>${this.text}</p>`;
    }
  },
  data() {
    return {
      icon: ICON
    };
  }
};
</script>
