<template>
  <div id="app">
    <c-header></c-header>
    <div class="page-content">
      <router-view />
    </div>
    <c-footer></c-footer>
  </div>
</template>

<script>
import CHeader from "@/components/layout/header";
import CFooter from "@/components/layout/footer";

export default {
  name: "App",
  components: {
    CHeader,
    CFooter
  }
};
</script>

<style lang="scss">
@import "~bulma";
@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  font-family: Lato;
}
</style>
